<!--<script src="../../../plugins/jquery-1.11.3.min.js"></script>-->
<div>
    <div>
        <span style="width:100px" ui-sref=".Page1"><a href="">Page-1</a></span>
        <span style="width:100px" ui-sref=".Page2"><a href="">Page-2</a></span>
        <span style="width:100px" ui-sref=".Page3"><a href="">Page-3</a></span>
        <button id="btn_a">click me</button>
    </div>
    <div>
        <div ui-view=""/>
    </div>
</div>
<script>
//    $(document).ready(function(){
//        $(document).on('click',"#btn_a",function(){
//            console.log("drop me down");
//            alert("drop me down");
//
//        });
//    });
</script>
