<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body  ng-app="">
<input type="text" ng-model="name" placeholder="your name"/>
<input type="text" ng-model="name" placeholder="your name"/>
<input type="text" ng-model="name2" placeholder="your name"/>
<h3>hello {{name}}{{name2}}</h3>
<input type="number" ng-model="number" placeholder="enter a number"/>
<h3>{{number+2}}</h3>
</body>
<script src="../../plugins/angular-1.2.19/angular.js"></script>
</html>